* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  transform-origin: right;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dcdcdc;
}

.container {
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  width: 100%;
  background: #fff;
}

.card:hover img{
  transform: scale(1.5);
}

.imgBx {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.content {
  padding: 10px;
}

.productName h3 {
  font-size: 18px;
  color: #333;
  margin: 5px 0;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-rating h2 {
  font-size: 20px;
  color: #ff2020;

}

.fa {
  color: #ffd513;
  cursor: pointer;
}

.fa.grey {
  color: #ccc;
}

.fa.bl {
  color: #333;
}

.action {
  position: absolute;
  top: 10px;
  right: 10px;
}

li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  transition: 0.5s;
  transform: translateX(60px);
}

li:nth-child(2) {
  transition-delay: 0.15s;
}

li:nth-child(3) {
  transition-delay: 0.3s;
}

.card:hover li {
  transform: translateX(0px);
}


li:hover {
  background: #ff2020;
  color: #fff;
}

li span {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) translateX(-20px);
  white-space: nowrap;
  padding: 4px 6px;
  background: #fff;
  color: #333;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

li:hover span {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

span::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
}
